body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.7;
}

.recipe-card {
    background-color: var(--secondary-background-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--primary-color);
    transition: transform 0.2s ease;
}

.recipe-card:hover {
    transform: scale(1.02);
}

.recipe-card h3 a {
    color: var(--primary-color);
    text-decoration: none;
}

.recipe-card h3 a:hover {
    color: var(--primary-color-dark);
}

footer {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}





